<br>
<div class="col-12 alert alert-secondary"> # <strong><%= gugun %></strong> # 태그별 인기 검색 리스트 </div>
<br>

<% if(dataexist == 'true'){ %>
<div class="row">
  <div class="col-lg-3 col-6">
      <div class="alert aelrt-secondary" role="alert">&emsp;&emsp;# 카페</div>
      <br>
      <br>
  <% for(var i=0; i<5; i++) { %>

  <div class="card" style="width: 70%; height:18%; margin-down:5%; margin-left:15%;">
    <div class="card-header">
      <%= crawling[i].title %>
    </div>
    <% if(crawling[i].img == undefined || crawling[i].img == 'undefined') { %>
    <img src="camera.png" class="card-img-top" alt="No image">
    <% } else  { %>
    <img class="card-img-top" src="<%= crawling[i].img %>" alt="Card image cap">
    <% } %>
    <div class="card-body">
       <a class="btn btn-dark" alt="<%= crawling[i].href %>" onclick="window.open('<%= crawling[i].href %>','자세히','widhth=1000, height=500,location=no,status=no,scrollbars=no');" style="color:#ffffff;">자세히</a>
    </div>
  </div>
<br>
  <% } %>
</div>
<div class="col-lg-3 col-6">
    <div class="alert aelrt-secondary" role="alert">&emsp;&emsp;# 맛집</div>
    <br>
    <br>
<% for(var i=0; i<5; i++) { %>

<div class="card" style="width: 70%; height:18%; margin-down:5%; margin-left:15%;">
  <div class="card-header">
    <%= crawling2[i].title %>
  </div>
  <% if(crawling2[i].img == undefined || crawling2[i].img == 'undefined') { %>
  <img class="card-img-top" src="../camera.png" alt="No image">
  <% } else  { %>
  <img class="card-img-top" src="<%= crawling2[i].img %>" alt="Card image cap">
  <% } %>
  <div class="card-body">
    <a class="btn btn-dark" alt="<%= crawling2[i].href %>" onclick="window.open('<%= crawling2[i].href %>','자세히','widhth=1000, height=500,location=no,status=no,scrollbars=no');" style="color:#ffffff;">자세히</a>

</div>
</div>
<br>
<% } %>
</div>
<div class="col-lg-5 col-12">
  <div class="input-group" style="margin-top:10%;">
    <br><br>
  <input type="text" id='text' class="form-control" onkeydown="enterSearch()" placeholder="카테고리를 입력하세요!">
  <span class="input-group-btn">
    <button class="btn btn-secondary" type="button" onclick="myFunction()">찾기</button>
  </span>
</div>
<br>
<a style="margin-left:10%"><strong><%= gugun %></strong> 카테고리 분석자료 </a>
<br>
<br>
<img src="<%= path %>" width="80%" height="500px" style="margin-left:10%">
</div>



<br>


  <% } else { %>


    <div class="col-12 alert alert-warning alert-dismissible fade show" role="alert">
      죄송합니다! <strong>지역을 올바르게 선택</strong>하신 후에 다시한번 접속해주시면 감사하겠습니다.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

<% } %>

</div>


<script>
function myFunction() {
    var x = document.getElementById("text").value;
    //window.location.href = "https://store.naver.com/restaurants/list?page=1&query="+x;
    window.open('https://store.naver.com/restaurants/list?page=1&query='+'<%= gugun %>' + x,x,'widhth=1000, height=500,location=no,status=no,scrollbars=no');
}
function enterSearch() {
    if(event.keyCode == 13){
        myFunction();  // 실행할 이벤트
    }
}
$('document').ready(function() {
enterSearch();
});
</script>
