<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>

  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container-fluid mb-3">

          <div class="container">
            <br><br>
            <h2 class="text-center">Test</h2>
            <br>

      <div class="row">
        <a class="col-3"></a>


      </div>
          </div>
<br>
  <div class="row">

  <div class="sidebar col-md-2 col-2">

      <%- include('../partials/side_var.ejs') %>


  </div>
  <div class= "main col-md-10 col-10">



    <%- include('../partials/search') %>




</div>
<br>

</div>
</div>

  <br>

  <%- include('../partials/info') %>

  </body>
  <script>


//버튼 함수

  </script>
</html>
